/**
 * Auteur: christopher
 * Date: 02/11/2016
 */

@mixin display-flex($flex-direction: column, $justify-content: center, $align-items: center) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
  
}

@mixin section-default() {
  padding: 80px 20px;
  @include display-flex(column, flex-start, center);

  width: 100%;
}

@mixin section-header-default($title-color: white) {
  width: 100%;

  @include display-flex(column, flex-start, center);

  h1, h2 {
    text-align: center;
    text-transform: uppercase;
    color: $title-color;
  }

  hr {
    width: 150px;
    margin: 5px auto 10px auto;
    border-color: $kounicova;
    border-top-width: 3px;
  }

  p {
    text-align: center;
    font-style: italic;
    color: #898989;
  }

  margin-bottom: 50px;
}

@mixin button-skin () {
  @include display-flex(row);

  height: 50px;
  min-height: 50px;
  max-height: 50px;

  background: $kounicova;
  color: white;

  padding: 10px 30px;
  border: none;
  font-weight: bold;
  border-radius: 3px;

  text-transform: uppercase;

  transition: all 200ms ease-in;

  a {
    width: 100%;
    height: 100%;
    color: white;
  }

  &:hover {
    background: darken($kounicova, 10%);
    transform: scale(1.1);

    transition: all 200ms ease-out;

    a {
      text-decoration: none;
    }
  }

  &:focus {
    outline: none;
  }
}