/**
 * Auteur: christopher
 * Date: 02/11/2016
 */

// Font stack
$font-catamaran: 'Catamaran', sans-serif;


// Menu sizes
$nb-desktop-min-height: 70px;
$nb-desktop-max-height: 80px;

$nb-mobile-height: 60px;
$nb-mobile-items-height: 45px;

// Footer size
$fb-height: 90px;