/**
 * Auteur: fabien
 * Date: 01/12/2016
 */


.DetailAnnonce {

@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

.detailannonce-title{
    margin-top: 10%;
  }

 .single-para {
  border: solid 1px #fed136;
  text-align: center;
  padding-bottom: 20px;
}

.single-para p {
  margin-bottom: 20px;
}

#annonceSport {
  background-color: #222222;
  background-image: url('/statics/img/fond-texture.jpg');   
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
  height: 100%;
}

#annonceSport h3{
  color: white;
}

#annonceSport .auteur{
  color: #fed136;
}
}

