/**
 * Auteur: fabien
 * Date: 01/12/2016
 */

@import "__colors";
@import "__mixins";
@import "__settings";

.CreateAdIndex {
  background-color: $half-back;

  .CreateAd {
    @include section-default();
    padding-top: 0;
    margin-top: 100px;

    .CreateAd-header {
      @include section-header-default();
    }
  }

  .CreateAd-form {

    .form-group {
      margin-bottom: 15px;

      label {
        margin-bottom: 10px;
        font-weight: bold;
        color: #FFF;
      }

      input, select, textarea {
        color: white;
        font-weight: bold;
        padding: 5px 20px;

        height: 55px;
        width: 100%;

        box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.75);
        border-radius: 5px;
        border: 1px solid transparent;

        background: rgba(0, 0, 0, 0.75);

        transition: all 250ms ease-in;

        &:focus {
          outline: none;
          border-color: $kounicova;
          box-shadow: none;
          background: rgba(0, 0, 0, 0.20);

          transition: all 250ms ease-out;
        }
      }

      textarea {
        padding: 20px;
        height: 250px;
      }
    }

    button {
      @include button-skin();
    }

  }
}

