@import "__colors";
@import "__mixins";
@import "__settings";

$padding-header: 20px;

.Index {
  .Header {
    background: url('/statics/img/fond-texture.jpg') 100% 100%;
    background-size: cover;

    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: $padding-header;

    color: white;

    .Header-content {
      width: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      img {
        width: 40%;
        min-width: 400px;
        max-width: 500px;
        height: auto;
      }

      h1 {
      }

      p {

      }
    }
  }

  .Member img {
    filter: grayscale(100%);
    width: 150px;
    height: 150px;
    border-radius: 80px;
  }

  .Concept {
    @include section-default();
    background: $pseudo-white;

    .Concept-header {
      @include section-header-default();
    }

    .Concept-content {
      @include display-flex();

      p {
        margin-bottom: 20px;
      }

      .Content-bigger {
        margin: 40px 0;
        font-weight: bold;
        font-size: 25px;
      }

      button {
        @include button-skin();
      }

    }
  }

  .Call2Action {
    @include section-default();
    background: url('/statics/img/bg-foot.jpg') center no-repeat fixed;
    background-size: cover;

    .Call2Action-header {
      @include section-header-default();
    }

    .Call2Action-button {
      @include display-flex();
      height: 400px;

      button {
        @include button-skin();
      }
    }
  }

  .Games {
    @include section-default();
    background: $submarine;

    .Games-header {
      @include section-header-default();
    }

    .Games-cards {

      .Card {
        margin-right: 10px;
        max-width: 300px;

        .Card-header {
          width: 100%;
          background: black;
          padding: 10px 15px 20px 15px;
          border-radius: 10px 10px 0 0;
          color: $kounicova;

          h3 {
            text-align: center;
          }
        }

        .Card-content {
          width: 100%;

          @include display-flex();
          padding: 40px 15px;
          background: white;
          border-radius: 0 0 10px 10px;

          p {
            margin-bottom: 20px;
            span {
              font-weight: bold;
            }
          }

          button {
            @include button-skin();
          }

        }
      }
    }

  }


  // Responsiveness
  // Tablet & Phone
  @media screen and (max-width: 769px) {

    .Games {
      .Games-header {

      }

      .Games-cards {
        @include display-flex(column, flex-start);

        .Card {
          margin-bottom: 20px;
          .Card-header {

          }

          .Card-content {

          }
        }
      }

    }
  }

  // Desktop
  @media screen and (min-width: 770px) {
    .Games {

      .Games-header {

      }

      .Games-cards {
        @include display-flex(row, flex-start);

        .Card {
          .Card-header {

          }

          .Card-content {

          }
        }
      }

    }
  }

}