/**
 * Auteur: christopher
 * Date: 02/11/2016
 * Theme principal Play2Gether
 */
@import "__colors";
@import "__mixins";
@import "__settings";

/* Common settings */
html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
  &:focus {
    outline: none;
  }
}

button {
  &:focus {
    outline: none;
  }
}

.hidden {
  display: none;
}

// Select 2 Things
.select2-container {
  width: 100% !important;

  &.select2-container--open {
    .select2-selection--single {
      outline: none;
      border-color: $kounicova;
      box-shadow: none;
      background: rgba(0, 0, 0, 0.20);
      border: {
        bottom-left-radius: 0;
        bottom-right-radius: 0;
      }

      transition: all 250ms ease-out;
    }
  }

  &.select2-container--focus {
    .select2-selection--single {
      outline: none;
    }
  }

  .select2-selection--single {
    height: 55px;
    box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    border: 1px solid transparent;

    background: rgba(0, 0, 0, 0.75);
    transition: all 250ms ease-in;

    .select2-selection__rendered {
      height: 100%;
      @include display-flex(row, flex-start);
      color: white;
      font-weight: bold;
    }

    .select2-selection__arrow {
      height: 100%;
    }
  }
}




/* Inclusions */
@import "menu";
@import "footer";
@import "contact";
@import "search-box";
@import "team";
@import "games";

/* Pages */
@import "index";
@import "register";
@import "connexion";
@import "profile";
@import "create_ad";
@import "ads";
@import "annoncedetail";

